@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #29323c;
    margin-bottom: 10px;
}


/*University*/

#university {
    background-image: url(./img/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#university ::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .2;
    z-index: -1;
    ;
}

#university h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}

#university h1 span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: coral;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}


/*keyframe*/


/*Animation for the university name */

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}


/*Animation for the university name */


/*keyframe*/

#university .cta {
    display: inline-block;
    padding: 10px 30px;
    color: coral;
    background-color: transparent;
    border: 2px solid coral;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3 ease;
    transition-property: background-color, color;
}

#university .cta:hover {
    color: aliceblue;
    background-color: coral;
}


/*University*/


/*Program*/

#program .program {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#program .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: rgb(2, 8, 14);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#program .program-top p {
    font-size: 2rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    color: #29323c;
    margin-bottom: 10px;
}

#program .program-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#program .program-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 170px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 20px 5%;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 400;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#program .program-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}

#program .program-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#program .program-item li {
    margin-top: 5px;
    list-style-type: none;
    line-height: 2.5rem;
}

#program .program-item h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}


/*Program*/